<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="yandex-verification" content="b6fa16716af5bc65" />

	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-KVBQC53');</script>
	<!-- End Google Tag Manager -->

	<link rel="alternate" hreflang="en" href="https://shmalyavanich.github.io/#!/" />
	<link rel="alternate" hreflang="ru" href="https://shmalyavanich.github.io/#!/" />
	<link rel="alternate" hreflang="ua" href="https://shmalyavanich.github.io/#!/" />
	<title>Task Manager</title>

	<link href="vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="vendor/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KVBQC53"
									height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<script>
	var langState = 'en';
	$scope.changeLangState = changeLangState;

	function changeLangState(langCode) {
		langState = langCode;
	}
</script>

	<div class="container">
		{{myLang}}
		<div class="langs">
			<div class="langs-item" ng-click="changeLangState(en)">EN</div>
			<div class="langs-item" ng-click="changeLangState(ru)">RU</div>
			<div class="langs-item" ng-click="changeLangState(ua)">UA</div>
		</div>

		<div class="wrapper-en" ng-if="langState == 'en'">
			<nav class="navbar navbar-default">
					<a class="navbar-brand">Task Manager</a>
			</nav>

			<div class="row">
				<div class="col-md-2">
					<ul class="nav nav-pills nav-stacked">
						<li><a ui-sref="home">Tasks</a></li>
						<li><a ui-sref="users">Users</a></li>
						<li><a ui-sref="addTask">Add Task</a></li>
					</ul>
				</div>
				<div class="col-md-10">
				</div>
			</div>

					<ui-view></ui-view>
		</div>

		<div class="wrapper-ru" ng-if="langState == 'ru'">
			<p>С другой стороны консультация с широким активом позволяет оценить значение системы обучения кадров, соответствует насущным потребностям. Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции требуют определения и уточнения позиций, занимаемых участниками в отношении поставленных задач. Равным образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке дальнейших направлений развития.</p>

			<p>Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции способствует подготовки и реализации форм развития. С другой стороны начало повседневной работы по формированию позиции позволяет оценить значение направлений прогрессивного развития. Повседневная практика показывает, что реализация намеченных плановых заданий в значительной степени обуславливает создание системы обучения кадров, соответствует насущным потребностям. Товарищи! новая модель организационной деятельности позволяет выполнять важные задания по разработке форм развития.</p>
		</div>

		<div class="wrapper-ua" ng-if="langState == 'ua'">
			<h3>Чому ми ним користуємось?</h3>
			<p>Вже давно відомо, що читабельний зміст буде заважати зосередитись людині, яка оцінює композицію сторінки. Сенс використання Lorem Ipsum полягає в тому, що цей текст має більш-менш нормальне розподілення літер на відміну від, наприклад, "Тут іде текст. Тут іде текст." Це робить текст схожим на оповідний. Багато програм верстування та веб-дизайну використовують Lorem Ipsum як зразок і пошук за терміном "lorem ipsum" відкриє багато веб-сайтів, які знаходяться ще в зародковому стані. Різні версії Lorem Ipsum з'явились за минулі роки, деякі випадково, деякі було створено зумисно (зокрема, жартівливі).</p>
		</div>
	</div>

	<script src="vendor/angular/angular.js"></script>
	<script src="vendor/angular-ui-router/release/angular-ui-router.min.js"></script>


	<script src="app.js"></script>
	<script src="app.config.js"></script>

	<script src="tasks/tasks.module.js"></script>
	<script src="tasks/task-list/task-list.component.js"></script>
	<script src="tasks/task-list/task-list.controller.js"></script>
	<script src="tasks/add-task/add-task.component.js"></script>
	<script src="tasks/add-task/add-task.controller.js"></script>
	<script src="tasks/tasks-array.service.js"></script>
	
	<script src="users/users.module.js"></script>
	<script src="users/add-user.controller.js"></script>
	<script src="users/add-user-details.controller.js"></script>
	<script src="users/edit-user.controller.js"></script>
	<script src="users/user-list.controller.js"></script>
	<script src="users/users.service.js"></script>

	<script src="user-tasks/user-tasks.module.js"></script>
	<script src="user-tasks/user-task-list.controller.js"></script>
</body>
</html>









