<div class="langs">
	<div class="langs-item" ng-click="changeLangState(en)">English</div>
	<div class="langs-item" ng-click="changeLangState(ru)">Русский</div>
	<div class="langs-item" ng-click="changeLangState(ua)">Українська</div>
</div>

<div class="wrapper-en" ng-if="langState == 'en'">
	<h3>Tasks</h3>
	<hr />
	<div class="btn-group" role="group" aria-label="...">
		<button class="btn btn-primary" ng-click="$ctrl.navigate('addTask')">New Task</button>
		<button class="btn btn-primary" ng-click="$ctrl.refreshTaskList()">Refresh</button>
	</div>
	<table style="margin-top: 20px" class="table table-condensed table-striped" >
		<tr>
			<th>Action</th>
			<th>Done</th>
			<th>User</th>
			<th>Deadline</th>
		</tr>
		<tr ng-repeat="task in $ctrl.tasks | orderBy: 'action'">
			<td>{{task.action}}</td>
			<td>{{task.done}}</td>
			<td>{{task.userName}}</td>
			<td>{{task.deadline}}</td>
		</tr>
	</table>
</div>

<div class="wrapper-ru" ng-if="langState == 'ru'">
	<p>На главной странице отображается список несуществующих задач</p>

	<p>С другой стороны консультация с широким активом позволяет оценить значение системы обучения кадров, соответствует насущным потребностям. Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции требуют определения и уточнения позиций, занимаемых участниками в отношении поставленных задач. Равным образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке дальнейших направлений развития.</p>

	<p>Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции способствует подготовки и реализации форм развития. С другой стороны начало повседневной работы по формированию позиции позволяет оценить значение направлений прогрессивного развития. Повседневная практика показывает, что реализация намеченных плановых заданий в значительной степени обуславливает создание системы обучения кадров, соответствует насущным потребностям. Товарищи! новая модель организационной деятельности позволяет выполнять важные задания по разработке форм развития.</p>

	<p>С другой стороны консультация с широким активом позволяет оценить значение системы обучения кадров, соответствует насущным потребностям. Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции требуют определения и уточнения позиций, занимаемых участниками в отношении поставленных задач. Равным образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке дальнейших направлений развития.</p>

	<p>Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции способствует подготовки и реализации форм развития. С другой стороны начало повседневной работы по формированию позиции позволяет оценить значение направлений прогрессивного развития. Повседневная практика показывает, что реализация намеченных плановых заданий в значительной степени обуславливает создание системы обучения кадров, соответствует насущным потребностям. Товарищи! новая модель организационной деятельности позволяет выполнять важные задания по разработке форм развития.</p>
</div>

<div class="wrapper-ua" ng-if="langState == 'ua'">
	<h3>Чому ми ним користуємось?</h3>
	<p>Вже давно відомо, що читабельний зміст буде заважати зосередитись людині, яка оцінює композицію сторінки. Сенс використання Lorem Ipsum полягає в тому, що цей текст має більш-менш нормальне розподілення літер на відміну від, наприклад, "Тут іде текст. Тут іде текст." Це робить текст схожим на оповідний. Багато програм верстування та веб-дизайну використовують Lorem Ipsum як зразок і пошук за терміном "lorem ipsum" відкриє багато веб-сайтів, які знаходяться ще в зародковому стані. Різні версії Lorem Ipsum з'явились за минулі роки, деякі випадково, деякі було створено зумисно (зокрема, жартівливі).</p>
	<p>Вже давно відомо, що читабельний зміст буде заважати зосередитись людині, яка оцінює композицію сторінки. Сенс використання Lorem Ipsum полягає в тому, що цей текст має більш-менш нормальне розподілення літер на відміну від, наприклад, "Тут іде текст. Тут іде текст." Це робить текст схожим на оповідний. Багато програм верстування та веб-дизайну використовують Lorem Ipsum як зразок і пошук за терміном "lorem ipsum" відкриє багато веб-сайтів, які знаходяться ще в зародковому стані. Різні версії Lorem Ipsum з'явились за минулі роки, деякі випадково, деякі було створено зумисно (зокрема, жартівливі).</p>
</div>